<html>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <div class="about">
    	<%= image_tag("me.jpg", :alt => "profile", :class => "me") %>
    	  <h1>Rishik Ramena</h1>
    	  <hr class="grey"/>

          <div class="tab">
             <%= link_to "Articles", class: "tablinks", controller: 'articles' %>
             <%= link_to "Add one", class: "tablinks", controller: 'articles', action: 'new' %>
          </div>


    	  <p class="bio">
    	  	 I am currently Grad student at Indian Institute of Engineering Science and Technology, Shibpur majoring in Information Technology. As my coursework progresses, I find my curiosity of and passion for the subject growing rapidly.
             Along with programming languages like C, JAVA, C++, Ruby, RubyOnRails, Javascript and PHP. I have learnt HTML5, CSS from W3school and other online boot camp waiting for my knowledge to apply in real time problem.
    	  </p>
	  </div>



</html>
